/* Utils */
.mark {
    border-radius: 6px;
    padding: 2px 6px;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    background: var(--mark-background);
    color: var(--mark-text);
}

.required-indicator {
    color: var(--p-red-400);
    padding-inline-start: 0.125rem;
}