@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where([class*="theme-dark"], [class*="theme-dark"] *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1080px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1920px;
}